[Desktop Entry]
Type=Application
Name=anevicon
Exec=anevicon
Comment=A high-performant UDP-based load generator, written in Rust
Icon=anevicon
Terminal=true